<h3 class="page-heading">Sample App</h3>
This app has dashboards, data source and panel included
<div class="pluginconfig-message" ng-if="ctrl.appModel.enabled">
  <i class="icon-gf icon-gf-check"></i>Dashboards imported. <strong>Next up: </strong
  ><a href="plugins/grafana-sensu-app/page/sensu-servers" class="external-link">Connect to your Sensu API Server</a>
</div>
